<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Web</title>
     <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
     <link rel="stylesheet" href="../css/reset.css">
     <link rel="stylesheet" href="../css/main.css">
   <script type="module" src="../js/main.js" defer></script>
</head>
<body>
<div class="nav">
    <a id="home" href="#"><h3 class="logo">new arise</h3></a>
    <ul class="nav-links">
        <li><a id="info" href="#">Information</a></li>
        <li><a id="about" href="#">About</a></li>
        <li><a id="contact" href="#">Contact Us</a></li>
    </ul>
    <div class="burger">&#9776;</div>
    <!-- <input type="search" placeholder="Search" /> -->
</div>
<div id="container" class="container">

</div>
</body>
</html>